# EDA

In [1]:
pip install plotly

Collecting plotly
  Downloading plotly-5.8.0-py2.py3-none-any.whl (15.2 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.8.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Imports for the project
import pandas as pd
import matplotlib as mpl
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")


import os                           
import math
import seaborn as sns
from collections import Counter
from sklearn.decomposition import PCA

from __future__ import division
from scipy.stats import skew
from scipy.stats.stats import pearsonr

from random import random


from time import sleep
from bs4 import BeautifulSoup
from selenium import webdriver
import random
import re
from datetime import datetime
from scipy.stats import chi2_contingency
from mpl_toolkits.mplot3d import Axes3D


# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

ModuleNotFoundError: No module named 'selenium'

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Load the CSV into a DataFrame

In [ ]:
df = pd.read_csv(r'clean_data.csv')

A copy of the data for backup

In [ ]:
clean_df = df.iloc[:,1:].copy()

In [ ]:
clean_df.nunique()

In [ ]:
df.describe().transpose()

In [ ]:
clean_df

**The categorical columns are:**

Console
Genre
Publisher
Developer

**The numerical columns are:**


Relese_Year

Relese_Month

VGChartz_Score

Critic_Score

NA_Sales

PAL_Sales

Japan_Sales

Other_Sales

Total_Sales

Hit_Games

***----------------------------------------------------------------***

Game — The games name

Console — Platform of the games release (i.e. PC, PS4, etc.)

Genre — Genre of the game

Publisher — Publisher of the game

Developer — Developer of the game

Critic_Score - Critic's score

VGChartz_Score - VGChartz's Score

NA_Sales — Sales in North America (in millions)

PAL_Sales — Sales in Europe (in millions)

Japan_Sales — Sales in Japan (in millions)

Other_Sales — Sales in the rest of the world (in millions)

Total_Sales — Total worldwide sales

Hit_Games - hit game(1) or not(0)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# Univariate Analysis

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

this function will create a grid of Axes such that each numeric variable in data will by shared across
the y-axes across a single row and the x-axes across a single column.
The diagonal plots are treated differently: 
a univariate distribution plot is drawn to show the marginal distribution of the data in each column.

In [ ]:
sns.pairplot(clean_df,aspect=.85)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Top 10 games who made the most sales globally

In [ ]:
#Top 10 games with the highest sales volume

Game = clean_df.Game
Genre = clean_df.Genre
Total_Sales = clean_df.Total_Sales
Publisher =  clean_df.Publisher
Relese_Year=  clean_df.Relese_Year
Developer=  clean_df.Developer
Relese_Month=  clean_df.Relese_Month
Console= clean_df.Console
Hit_Games=clean_df.Hit_Games

dfSales = {'Game':Game,'Genre': Genre, 'Total_Sales': Total_Sales, 
'Publisher':Publisher,'Developer':Developer,'Relese_Month':Relese_Month,'Relese_Year':Relese_Year,'Console':Console,'Hit_Games':Hit_Games}
dfSales = pd.DataFrame(dfSales,columns = ['Game','Genre','Console', 'Publisher','Developer','Relese_Year','Relese_Month','Total_Sales','Hit_Games'])
dfbyyear = dfSales.nlargest(10, "Total_Sales")


dfbyyear.head(10)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Years

In [ ]:
#Frequency of Games by years

plt.figure(figsize=(15, 10))
sns.countplot(x="Relese_Year", data=clean_df).set_title("Frequency of sales by month",fontsize=30)
plt.xticks(rotation=45)
plt.show()

year_game = clean_df.pivot_table(index = 'Relese_Year', values= 'Game', aggfunc='count' ).reset_index()
year_game.columns = ['Relese Year', 'Game']
year_game = year_game.sort_values('Game', ascending=False)
year_game.head(10)

**Conclusion:** The years with the highest game releases are between 2008-2010

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Month

In [ ]:
#Frequency of Games by month

plt.figure(figsize=(15, 10))
sns.countplot(x="Relese_Month", data=clean_df).set_title("Frequency of sales by month",fontsize=30)
plt.show()

month_game = clean_df.pivot_table(index = 'Relese_Month', values= 'Game', aggfunc='count' ).reset_index()
month_game.columns = ['Relese Month', 'Game']
month_game = month_game.sort_values('Game', ascending=False)
month_game.head(10)

**Conclusion:** The months with the highest game releases are November & October

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Console

In [ ]:
# Consoles with the most Games

clean_df["Console"].value_counts()[:15].plot(kind = 'barh', color="r",edgecolor='black').set_title('Consoles with the highest number of games',fontsize=30)
plt.rcParams["figure.figsize"] = [30, 13]
plt.show()

console_game = clean_df.pivot_table(index = 'Console', values= 'Game', aggfunc='count' ).reset_index()
console_game.columns = ['Console', 'Game']
console_game = console_game.sort_values('Game', ascending=False)
console_game.head(15)

**Conclusion:** The consoles with the most games are PC Nintendo DS & PS2

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Publisher

In [ ]:
# publishers with the most Games

top_publishers = clean_df[["Publisher", "Total_Sales"]].groupby("Publisher").count().sort_values("Total_Sales", ascending=False).head(20)
top_publishers.plot.bar(title="Top 20 Publishers with the highest number of games",figsize=(20,10),fontsize=20,color = '#ff9966',edgecolor='blue').title.set_size(30)
plt.ylabel("Amount",fontsize=18)
plt.xlabel("Publisher",fontsize=18) 
plt.show()

Publisher_game = clean_df.pivot_table(index = 'Publisher', values= 'Game', aggfunc='count' ).reset_index()
Publisher_game.columns = ['Publisher', 'Game']
Publisher_game = Publisher_game.sort_values('Game', ascending=False)
Publisher_game.head(15)

Conclusion: The leading Publishers are Ubisoft, Activision & Nintendo

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Developer

In [ ]:
# Developers with the most Games

top_publishers = clean_df[["Developer", "Total_Sales"]].groupby("Developer").count().sort_values("Total_Sales", ascending=False).head(20)
top_publishers.plot.bar(title="Top 20 developers with the highest number of games",figsize=(20,10),fontsize=20,color ='lightseagreen',edgecolor='black').title.set_size(30)
plt.ylabel("Amount",fontsize=18)
plt.xlabel("Developer",fontsize=18) 
plt.show()

developer_game = clean_df.pivot_table(index = 'Developer', values= 'Game', aggfunc='count' ).reset_index()
developer_game.columns = ['Developer', 'Game']
developer_game = developer_game.sort_values('Game', ascending=False)
developer_game.head(15)

**Conclusion:** The leading developers are who have released games are Capcom & Konami

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Genre

In [ ]:
fig, axes = plt.subplots(figsize=(11, 17))
clean_df["Genre"].value_counts()[:15].plot(kind = 'pie', autopct='%1.1f%%', startangle=270, fontsize=9, pctdistance=0.7, radius = 1.5)
plt.show()

In [ ]:
# Genre with the most Games

plt.figure(figsize=(12,6), dpi=150)
sns.countplot(data=clean_df,
              x="Genre",
              order = clean_df["Genre"].value_counts().index,
              palette="Dark2").set_title("Genres with the highest number of games",fontsize=30)
plt.xticks(rotation=45)
plt.show()

genre_game = clean_df.pivot_table(index = 'Genre', values= 'Game', aggfunc='count' ).reset_index()
genre_game.columns = ['Genre', 'Game']
genre_game = genre_game.sort_values('Game', ascending=False)
genre_game.head(10)

**conclusion:**  Games belonging to Action genre are leaders in the number of games per genre,
they control almost 20 percent of the video games market share and they are popular more than any other genre

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

NA_Sales, PAL_Sales & Japan_Sales

.

The average sales in each region

In [ ]:
a=(clean_df['NA_Sales'].mean()*1000000)
b=(clean_df['PAL_Sales'].mean()*1000000)
c=(clean_df['Japan_Sales'].mean()*1000000)
d=(clean_df['Other_Sales'].mean()*1000000)
e=(clean_df['Total_Sales'].mean()*1000000)

print("The average sales in North America =", (f"{a:,.3f}"))
print("The average sales in Europe =",(f"{b:,.3f}"))
print("The average sales in Japan =",(f"{c:,.3f}"))
print("The average sales in other regions =",(f"{d:,.3f}"))
print("The average sales globally =",(f"{e:,.3f}"))

**Conclusion:** The average game purchases in North America are higher than any other region

.

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# Bivariate Analysis

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Years

In [ ]:
# Years with the most sales

title = "Sales by Release Year"
Year_sales = clean_df.groupby("Relese_Year").sum()["Total_Sales"].plot.bar(fontsize=18,color = '#ff0950',edgecolor='black',title=title,figsize=(20,10))
Year_sales.title.set_size(40)
Year_sales.set_ylabel("Sales in Billions",fontsize=18)
Year_sales.set_xlabel("release_year",fontsize=18)

# top 10 years with the highest total sales
sales_year = clean_df.groupby("Relese_Year").agg({"Total_Sales": pd.Series.sum})
sales_year.nlargest(10, "Total_Sales")

**Conclusion:** The years with the most sales are 1998, 2011 & 2007

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Month

In [ ]:
# Month with the most sales

title = "Sales by Release Month"
Month_sales = clean_df.groupby("Relese_Month").sum()["Total_Sales"].plot.bar(fontsize=18,color = 'lawngreen',edgecolor='black',title=title,figsize=(20,10))
Month_sales.title.set_size(40)
Month_sales.set_ylabel("Sales in Billions",fontsize=18)
Month_sales.set_xlabel("Relese_Month",fontsize=18)

# top 10 Months with the highest total sales
sales_month = clean_df.groupby("Relese_Month").agg({"Total_Sales": pd.Series.sum})
sales_month.nlargest(10, "Total_Sales")

**Conclusion:** The years with the the most sales are November, September & October

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Console

In [ ]:
#Sales from Total Global sales including Japan, Europe or North America

title = "Top 20 Consoles with the most Sales"
console_sales = clean_df.groupby("Console")\
    .sum()\
    .sort_values(by="Total_Sales", ascending=False)\
    .head(20)["Total_Sales"]\
    .plot.bar(title=title,  color = 'mediumorchid',edgecolor='blue'   ,figsize=(20,10),fontsize=18)
    
console_sales.title.set_size(40)
console_sales.set_ylabel("Sales in Billions",fontsize=18)
console_sales.set_xlabel("Console",fontsize=18)
plt.show()

# Top 10 consoles with the most sales
sales_console = clean_df.groupby("Console").agg({"Total_Sales": pd.Series.sum})
sales_console.nlargest(10, "Total_Sales")

**Conclusion:** The Consoles with the most sales are Xbox Series X & PC

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [ ]:
#Sales from Global sales excluding Japan, Europe or North America

title = "Sales by Console"

console_sales1 = clean_df.groupby("Console")\
    .sum()\
     ["Other_Sales"].plot.bar(title=title,color = 'red',edgecolor='blue'  ,fontsize=20,figsize=(20,10))
console_sales1.title.set_size(30)
console_sales1.set_ylabel("Sales in Billions",fontsize=18)
console_sales1.set_xlabel("Console",fontsize=18)

# Top 10 consoles with the most sales
sales_console1 = clean_df.groupby("Console").agg({"Other_Sales": pd.Series.sum})
sales_console1.nlargest(10, "Other_Sales")

**Conclusion:** The Consoles with the most sales Unrelated to sales in NA, Europe or Japan are Xbox Series X & PC

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Developer

In [ ]:
#Developers with the most sales

title = "Top 20 Developers in sales"

developer_sales = clean_df.groupby("Developer")\
    .sum()\
    .sort_values(by="Total_Sales", ascending=False)\
    .head(20)["Total_Sales"]\
    .plot.bar(title=title,color ='green',edgecolor='gold'  ,figsize=(20,10),fontsize=18)
    
developer_sales.title.set_size(40)
developer_sales.set_ylabel("Sales in Billions",fontsize=18)
developer_sales.set_xlabel("Developer",fontsize=18)
plt.show()

sales_developer = clean_df.groupby("Developer").agg({"Total_Sales": pd.Series.sum})
sales_developer.nlargest(10, "Total_Sales")

**Conclusion:** The Developers with the most sales are Nintendo & Capcom

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Publisher

In [ ]:
#Publishers with the most sales

title = "Top 20 Publishres in sales"

Publisher_sales = clean_df.groupby("Publisher")\
    .sum()\
    .sort_values(by="Total_Sales", ascending=False)\
    .head(20)["Total_Sales"]\
    .plot.bar(title=title, color = 'aquamarine',edgecolor='orange',figsize=(20,10),fontsize=18)
    
Publisher_sales.title.set_size(40)
Publisher_sales.set_ylabel("Sales in Millions",fontsize=18)
Publisher_sales.set_xlabel("Publisher",fontsize=18)


sales_Publisher = clean_df.groupby("Publisher").agg({"Total_Sales": pd.Series.sum})
sales_Publisher.nlargest(10, "Total_Sales")

**Conclusion:** The Publishers with the most sales are Nintendo & Electronic Arts

:

**Conclusion from the last 2 graphs:**  Nintendo is one of the biggest Developer & Publisher company in the world

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Genre

In [ ]:
#Genres with the most sales

title = "Top 20 Genres in sales"

genre_sales = clean_df.groupby("Genre")\
    .sum()\
    .sort_values(by="Total_Sales", ascending=False)\
    .head(20)["Total_Sales"]\
    .plot.bar(title=title, color = '#91cccc',edgecolor='purple',figsize=(20,10),fontsize=18)
    
genre_sales.title.set_size(40)
genre_sales.set_ylabel("Sales in Millions",fontsize=18)
genre_sales.set_xlabel("Genre",fontsize=18)


sales_genre = clean_df.groupby("Genre").agg({"Total_Sales": pd.Series.sum})
sales_genre.nlargest(10, "Total_Sales")

**Conclusion:** The Genres with the most sales are Action-Adventure & Role-Playing

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Other Sales

In [ ]:
plt.figure(figsize=(12,6), dpi=200)
sns.scatterplot(data=clean_df,
                x="Relese_Year",
                y="Other_Sales").set_title("Frequency of other sales by year",fontsize=15)
plt.show()

**Conclusion:** From the following scatterplot, we can see that most game belonging to 'other sales' made global sales of below roughly $1 million sales, 
with some exceptionally good ones going beyond that.

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

NA_Sales, PAL_Sales & Japan_Sales

.

Plots that Showing the distribution of sales by region

In [ ]:
def Plots_by_year(title, sales, color):
    plt.figure(figsize = (7,5), dpi= 100)
    plt.title(title)
    plt.xticks(rotation = 90)
    sns.lineplot(x = 'Relese_Year', 
              y = sales,
              color = color, 
              data = clean_df)
    
Plots_by_year('Year - Japan Sales', 'Japan_Sales', 'blue')

In [ ]:
Plots_by_year('Year - EU Sales', 'PAL_Sales', 'orange')

In [ ]:
Plots_by_year('Year - North America Sales', 'NA_Sales', 'purple')

**Conclusion:** Sales in Europe peaked in the 2000s and on, while other regions peaked before the 2000s.

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Top 5 games with the highest sales volume in each region

In [ ]:
Game = clean_df.Game
Genre = clean_df.Genre
Console= clean_df.Console
PAL_Sales=clean_df.PAL_Sales
Japan_Sales=clean_df.Japan_Sales
NA_Sales=clean_df.NA_Sales

#Top 5 games with the highest sales volume in eu

dfSales0 = {'Game':Game,'Genre': Genre, 
'PAL_Sales':PAL_Sales,'Console':Console}
dfSales0 = pd.DataFrame(dfSales0,columns = ['Game','Genre','Console','PAL_Sales'])
dfbypal = dfSales0.nlargest(5, "PAL_Sales")
dfbypal.head(5)


#Top 5 games with the highest sales volume in japan

dfSales1 = {'Game':Game,'Genre': Genre, 
'Japan_Sales':Japan_Sales,'Console':Console}
dfSales1 = pd.DataFrame(dfSales1,columns = ['Game','Genre','Console','Japan_Sales'])
dfbyjapan = dfSales1.nlargest(5, "Japan_Sales")
dfbyjapan.head(5)


#Top 5 games with the highest sales volume in north america

dfSales2 = {'Game':Game,'Genre': Genre, 
'NA_Sales':NA_Sales,'Console':Console}
dfSales2 = pd.DataFrame(dfSales2,columns = ['Game','Genre','Console','NA_Sales'])
dfbyna = dfSales2.nlargest(5, "NA_Sales")
dfbyna.head(5)

-The PS Platform is the popular console in Japan and Europe. However, it is a different story in NA - the leading consoles are XBOX 360 
    
-The dominating Games is 'Call of Duty: Black Ops' in north america and Grand Theft Auto V in Europe

-Sports is one of the leading genres in Japan and Europe, compared to NA which it's Action & Shooter

.

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# Multivariate Analysis

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

.

Hits VS Non-Hits by genre

In [ ]:
Genre_dist = clean_df[clean_df['Genre'].isin(clean_df.Genre.value_counts().head(15).index.tolist())]
ax = sns.countplot(x='Genre', hue='Hit_Games', data=Genre_dist, palette='magma')
ax.axes.set_title("Hits VS Non-Hits by genre",fontsize=30)
ax.set_xlabel("Genre",fontsize=20)
ax.set_ylabel("Amount",fontsize=20)
sns.set(rc = {'figure.figsize':(20,8)})
ax.set_xticklabels(ax.get_xticklabels(),rotation=25)
plt.show()

**Conclusion:** The popularity  of Non-Hits are higher than Hits in almost any genre

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [ ]:
#heatmap

In [ ]:
plt.figure(figsize=(15, 10))
sns.set(font_scale=1)
sns.heatmap(comp_map, annot=True, fmt = '.1f')

plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.show()

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

NA Sales, PAL Sales & Japan_Sales by Console

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Grouping North American, Japan, European & Other region sales data per Console

In [ ]:
data = clean_df
df3 = data.groupby(['Console'])
val = df3['NA_Sales','PAL_Sales','Japan_Sales','Other_Sales'].aggregate(np.mean)
val.plot(kind='bar',figsize=(15,5))
plt.xlabel('Console',fontsize=16)
plt.ylabel('Sale of games in each region',fontsize=16)
plt.title('Sales per Console',fontsize=26)
plt.show()

In [ ]:
data = clean_df
df3 = data.groupby(['Console'])
val = df3['NA_Sales','PAL_Sales','Japan_Sales','Other_Sales'].aggregate(np.mean)
plt.figure(figsize=(12,10))
ax = sns.boxplot(data=val, orient='h')
plt.xlabel('Sales per game',fontsize=16)
plt.ylabel('Region',fontsize=16)
plt.title('Distribution of sales per Console',fontsize=16)
plt.show()

Distribution with percentages of the top 5 consoles by region

In [ ]:
explode = [0.1,0.1,0.1,0.1,0.1]
colors = ['lightseagreen', 'mediumpurple', 'aquamarine', 'lawngreen', 'mediumorchid']

def platform_pie(title, sales):
    plt.title(title)
    plt.pie(sales, 
          labels = platforms1,
          wedgeprops=dict(width=0.2),
          shadow = True,
          colors = colors, 
          explode = explode, 
          startangle = 90, 
          autopct='%1.1f%%');

In [ ]:
platforms1 = list(clean_df['Console'].value_counts()[:5].to_dict().keys())
sales_cols = ['NA_Sales', 'PAL_Sales', 'Japan_Sales', 'Other_Sales']
global_sales = []
na_sales = []
pal_sales = []
jp_sales = []
other_sales = []
for platform in platforms1:
    global_sales.append(clean_df[clean_df['Console'] == platform]['Total_Sales'].sum())
    na_sales.append(clean_df[clean_df['Console'] == platform]['NA_Sales'].sum())
    pal_sales.append(clean_df[clean_df['Console'] == platform]['PAL_Sales'].sum())
    jp_sales.append(clean_df[clean_df['Console'] == platform]['Japan_Sales'].sum())
    other_sales.append(clean_df[clean_df['Console'] == platform]['Other_Sales'].sum())

In [ ]:
plt.figure(figsize= (10,10), dpi = 100)

plt.subplot(2,2,1)
platform_pie('Sales in North America'.upper(), na_sales)

plt.subplot(2,2,2)
platform_pie('Sales in Europe'.upper(), pal_sales)

plt.subplot(2,2,3)
platform_pie('Sales in Japan'.upper(), jp_sales)

plt.subplot(2,2,4)
platform_pie('Sales in Other countries'.upper(), other_sales)

#Total sales in each region
data = clean_df.groupby('Genre').sum().agg({'NA_Sales':'sum',
                                            'PAL_Sales':'sum',
                                            'Japan_Sales':'sum'})
data

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

NA Sales, PAL Sales & Japan_Sales by Genre

In [ ]:
#Grouping North American, Japan, European & Other region sales data as per Genre

data = clean_df
df3 = data.groupby(['Genre'])
val = df3['NA_Sales','PAL_Sales','Japan_Sales','Other_Sales'].aggregate(np.mean)
val.plot(kind='bar',figsize=(15,5))
plt.xlabel('Genre',fontsize=16)
plt.ylabel('Sale of games in each region',fontsize=16)
plt.title('Sales per Genre for each region',fontsize=26)
plt.show()

Game = clean_df.Game
Genre = clean_df.Genre
Console= clean_df.Console
PAL_Sales=clean_df.PAL_Sales
Japan_Sales=clean_df.Japan_Sales
NA_Sales=clean_df.NA_Sales

#Genre with the highest total sales volume in each region
dfSales3 = {'Game':Game,'Genre': Genre, 
'NA_Sales':NA_Sales,'Console':Console,'PAL_Sales':PAL_Sales,'Japan_Sales':Japan_Sales}
dfSales3 = pd.DataFrame(dfSales3,columns = ['Game','Genre','Console','NA_Sales','PAL_Sales','Japan_Sales'])
dfbygenre = dfSales3.groupby(by=['Genre']).sum()
dfbygenre.head(18)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

NA Sales, PAL Sales & Japan_Sales by Year

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Grouping sales data of each region yearly and plotting the same

In [ ]:
data = clean_df
df1 = data.groupby(['Relese_Year'])
plt.figure(figsize=(10,10), dpi=200)
df1_mean = df1['NA_Sales','PAL_Sales','Japan_Sales','Other_Sales'].aggregate(np.mean)
df1_mean.plot(figsize=(10,10))
plt.title('Average sales by year for each region ', fontsize=20)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

Top 10 Sales per console based on each region

In [ ]:
#Grouping the north america sales based on each Console
data1 = pd.DataFrame(clean_df.groupby("Console")[["NA_Sales"]].sum().sort_values(by=['NA_Sales'],ascending=[False]).reset_index())
data1.rename(columns = {'Console':'NA_console'}, inplace = True)

#Grouping the europe sales based on each Console
data2 = pd.DataFrame(df.groupby("Console")[["PAL_Sales"]].sum().sort_values(by=['PAL_Sales'],ascending=[False]).reset_index())
data2.rename(columns = {'Console':'PAL_console'}, inplace = True)

#Grouping the japan sales based on each Console
data3 = pd.DataFrame(df.groupby("Console")[["Japan_Sales"]].sum().sort_values(by=['Japan_Sales'],ascending=[False]).reset_index())
data3.rename(columns = {'Console':'Japan_console'}, inplace = True)

#Grouping the other region sales based on each Console
data4 = pd.DataFrame(df.groupby("Console")[["Other_Sales"]].sum().sort_values(by=['Other_Sales'],ascending=[False]).reset_index())
data4.rename(columns = {'Console':'Other_console'}, inplace = True)

#Concatenating our datasets
data=pd.concat([data1,data2,data3,data4],axis=1)
data.head(10)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# Inferences

Based on our analysis, we can infferd the following conclusions:

PS Platform, published in 1994, made the most sales worldwide. 
This is echoed by both Japan and EU regions. However, it is a different story in NA,
with Call of Duty: Black Ops dominating in north america and Grand Theft Auto V in Europe

50% of top 10 games utilized the PS Platform, making it one of the most successful consoles. 
This could be because of the fact that the PS system was one of the most innovative consoles of its time 


Action, Sports and Role-Playing are the most popular genres with high game titles as well as high global sales made

Nintendo snatched the spot for the Publisher that made the most global sales. 
Unsurprising is the fact that the top sales by developer is Nintendo!

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**